#search-container * {
    font-size: 15px;
}

#table {
    font-size: 15px;
    color: #222222;

    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd; /* Thin grey border around the table */
}

#table th,
#table td {
    border-bottom: 1px solid #ddd; /* Thin grey border for each cell */
    padding: 10px; /* Adjust padding as needed */
    text-align: left;
}

#table tr:hover {
    background-color: lightblue; /* Add light blue background on hover */
}
