#myModal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Styles for the form inside the modal */
#modalForm {
    display: flex;
    flex-direction: column;
}

/* Styles for the close button */
#closeBtn {
    margin-top: 10px;
    cursor: pointer;
    color: #007BFF;
}