/* styles.css */

body {
    display: flex;
    height: 100vh;
    margin: 0;
}

#my-sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
}

#my-content {
    flex: 5;
    padding: 20px;
}

#my-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}